body{
	margin: 10vw;
	padding: 0;
	box-sizing: border-box;
	background-color: #CFE2F3;
}

.Brush{
	width: 150px;
	display: grid;
	grid-template-rows:400px 400px;
	grid-template-columns: 1fr; 
}
.grid{
	display: flex;
    flex-direction: column;
}
.bristle {
    width: 100px;
    height: 25px;
    margin: 0;
}

.blue {
    background-color: rgb(67, 118, 220);
}

.green {
    background-color: rgb(135, 225, 135);
}
.bigboxa {	
  display: grid;
  grid-template-rows: 33% 30% 37%; 
  grid-template-columns: 1fr 4fr; 
}

.boxa{
	background: #932b2b;
}
.boxc{
	background: #37379e;
}
.boxe{
	background: #4f3d3d;
}
.boxf{
	background: #587a83;
}
.bigboxb{
	background: #a2e62d;
}
.boxb{
	height: 10vh;
	display: flex;
	flex-direction: column;
}
