body {
	margin: 10vw;
	padding: 0;
	box-sizing: border-box;
	background-color: #01101e;
	
}

.allbox{
	display: flex;
	position: relative;
	width: 100%;
}

.Brush {
	width: 150px;
	display: grid;
	grid-template-rows: 400px 400px;
	grid-template-columns: 1fr;
	margin: 0px 25px;
}

.bris {
	display: flex;
	flex-direction: column;
}

.bigboxa {
	display: grid;
	grid-template-rows: 33% 30% 37%;
	grid-template-columns: 1fr 3fr;
}

.bristle {
	width: 100px;
	height: 25px;
	margin: 0;
	transition: transform 0.3s;
	/* Add a smooth transition effect */
}

.bristle:hover {
	transform: scaleX(2);
}

.blue {
	background-color: rgb(99, 146, 240);
}

.green {
	background-color: rgb(180, 239, 180);
}


.boxa {
	background: #f80d40;
}

.boxc {
	background: #ed18b8;
}

.boxe {
	background: #9a00dc;
}

.boxf {
	background: #14c5f6;
}

.bigboxb {
	background: #95e40d;
}

.boxb {
	height: 10vh;
	display: flex;
	flex-direction: column;
}

.movingbrush {
	position: absolute;
	animation: first  5s ease infinite;
	right: 0;
	transform: scaleX(-1);
}

@keyframes first {
	0% {
        right: 0;
    }
	50% {
        right:calc(100% - 175px); 
    }
	100% {
        right:0; 
    }
}
@media screen and (max-width: 600px) {

	body{
		background-color:rgb(240, 12, 12);
	}

	.bris{
		display: flex;
	}

	.bigboxb{
		display: flex;
	}
	.boxc{
		display: flex ;
	}
	.boxd{
		display: flex;
	}
	.boxe{
		display: flex ;
	}
	.boxf{
		display: flex ;
	}
	
	.Brush{
        display: none;
   }

   .BrushA{
        display: grid;
   }
}